<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 bg-primary py-4 py-md-5 py-xxl-8">
            <div class="row h-100 align-items-end justify-content-center">
                <div class="col-12 col-md-11 col-xl-10">
                    <div class="footer-logo-wrapper">
                        <a>
                            <img src="icon/linkedin.png" alt="Logo" class="img-fluid" style="max-height: 5rem;">
                        </a>
                    </div>
                    <div class="social-media-wrapper mt-5">
                        <ul class="nav">
                            <li class="nav-item me-3">
                                <a class="nav-link link-primary p-2 bg-light rounded">
                                    <img src="icon/linkedin.png" alt="Logo" class="img-fluid mx-2"
                                        style="max-width: 2rem;">
                                </a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link link-primary p-2 bg-light rounded">
                                    <img src="icon/whatsapps.png" alt="Logo" class="img-fluid mx-2"
                                        style="max-width: 2rem;">
                                </a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link link-primary p-2 bg-light rounded">
                                    <img src="icon/github-mark.png" alt="Logo" class="img-fluid mx-2"
                                        style="max-width: 2rem;">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="address-wrapper mt-5">
                        <!-- <address class="mb-2 text-white"></address> -->
                        <p class="mb-2">
                            <a class="link-light text-decoration-none" href="tel:+918489395365">
                                +91 8489395365
                            </a>
                        </p>
                        <p class="mb-0">
                            <a class="link-light text-decoration-none" [href]="email">{{email}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 bg-light py-4 py-md-5 py-xxl-8">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-xxl-10">
                    <div class="row gy-4 gy-sm-0">
                        <div class="col-6 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title mb-4">Services</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Web Design</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Web Development</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">App Development</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Web Application
                                            Development</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title mb-4">Links</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Home</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">About</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Skills</a>
                                    </li>
                                    <li class="mb-3">
                                        <a class="link-secondary text-decoration-none">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title mb-4">ARUN Portfolio</h4>
                                <p class="mb-4">
                                    Thanks for exploring my personal portfolio website! Let's stay connected
                                    through my social media channels.
                                    Connect with me now!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid p-2 bg-light">
    <div class="row g-3 d-flex align-items-center">
        <!-- <div class="col-md-4 d-flex justify-content-center">
            <img src="icon/instagram.png" alt="Logo" class="img-fluid" style="max-width: 2rem;">
        </div> -->
        <div class="col d-flex justify-content-center flex-column">
            <span class="text-secondary text-center">&copy; 2024. All Rights Reserved. <br> Built by Arun Malaravan with
                &#9829;</span>
        </div>
        <!-- <div class="col-md-4 d-flex justify-content-center">
            <img src="icon/linkedin.png" alt="Logo" class="img-fluid mx-2" style="max-width: 2rem;">
            <img src="icon/github-mark.png" alt="Logo" class="img-fluid mx-2" style="max-width: 2rem;">
            <img src="icon/whatsapps.png" alt="Logo" class="img-fluid mx-2" style="max-width: 2rem;">
        </div> -->
    </div>
</div>