.offcanvas {
    width: 250px;
}

.nav-link {
    color: whitesmoke;
}
.sticky-navbar {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1020;
    /* Ensure it stays above other content */
    background-color: white;
    /* Optional: Set a background color */
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1); /* Shadow for the bottom edge */
    /* Optional: Add a shadow for better visibility */
}

