<div class="home">
    <nav class="navbar navbar-expand-lg sticky-top" [class.scrolled]="isScrolled">
        <div class="container-fluid" data-aos="fade-down">
            <a class="navbar-brand">ARUN MALARAVAN</a>
            <button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"> <span
                    class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">CONTACT</a>
                    </li>
                </ul>
            </div>

            <div class="offcanvas offcanvas-start d-lg-none" data-bs-scroll="true" tabindex="-1"
                id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Browse docs</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body container d-lg-none">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column p-3">
                <h5 class="text-secondary fw-semibold">Welcome to my world
                </h5>
                <h1 class="fw-bold">Hi, I’m <span class="text-danger fw-bold">ARUN</span></h1>
                <h1 class="fw-bold"><span class="typed-element"></span></h1>
                <div class="p-3">
                    <p class="text-secondary text-center fw-semibold px-2">Find with me</p>
                    <a class="px-2">
                        <img src="icon/linkedin.png" alt="Instagram Logo" style="height: 2.5rem;">
                    </a>
                    <a class="px-2">
                        <img src="icon/github-mark.png" alt="Facebook Logo" style="height: 2.5rem;">
                    </a>
                    <a class="px-2">
                        <img src="icon/whatsapps.png" alt="YouTube Logo" style="height: 2.5rem;">
                    </a>
                    <button class="btn btn-primary rounded-pill">Download CV</button>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <img src="img/arun7.png" class="img-fluid w-75 float-end py-3" alt="ARUN MALARAVAN">
            </div>
        </div>
    </div>
</div>